[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/devopszone
[access "refs/for/refs/*"]
	read = group user/devopszone
	push = group user/devopszone
	label-Code-Review = -2..+2 group user/devopszone
	label-Verified = -1..+1 group user/devopszone
	rebase = group user/devopszone
	removeReviewer = group user/devopszone
	submit = group user/devopszone
[access "refs/heads/*"]
	read = group user/devopszone
	create = group user/devopszone
	push = +force group user/devopszone
	pushMerge = group user/devopszone
[access "refs/tags/*"]
	push = group user/devopszone
	push = +force group user/devopszone
